// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

#news_modal {
  text-align: center;
}

.news {
  float: left;

  h2 {
    @extend .panel-heading;
  }

  article {
    @extend .panel, .panel-primary;
    padding: 10px;
  }
}

.statistics {
  float: right;

  h2 {
    @extend .panel-heading;
  }

  section {
    @extend .panel, .panel-info;
    padding: 10px;
  }
}

.add-news {
  clear: both;
}

.news-footer {
  text-align: right;

  p {
    display: inline;
  }
}

.search {
  @extend .panel, .panel-info;

  padding: 5px;
  margin-bottom: 0;

  h3 {
    margin-top: 0;
  }

  input, select, button {
    display: inline-block;
  }

  select, input.date {
    max-width: 200px;
  }

  input.text {
    max-width: 650px;
  }
}
