// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

#news_modal {
  text-align: center;
}

.news {
  float: left;

  h2 {
    @extend .panel-heading;
  }

  article {
    @extend .panel, .panel-primary;
    padding: 10px;
  }
}

.statistics {
  float: right;

  h2 {
    @extend .panel-heading;
  }

  section {
    @extend .panel, .panel-info;
    padding: 10px;
  }
}

.add-news {
  clear: both;
}

.news-footer {
  text-align: right;

  p {
    display: inline;
  }
}
